[
    {
        "global settings": {
            "IPInfoDB-apikey": "<Your ipinfodb.com API key>"
        }
    }, 
    {
        "ident": "sonicbotv4", 
        "realname": "sonicbotv4", 
        "nick": "<bot's nick>", 
        "admin": {
            "<Your nick>": "<Your hostname>"
        }, 
        "channels": [
            "#sonicbot"
        ], 
        "ssl": false, 
        "host": "irc.freenode.net", 
        "trigger": ">", 
        "ipv6": false, 
        "owner": "<Your nick>", 
        "password": "", 
        "networkname": "FreeNode", 
        "port": 6667
    }
]

