hosts = ["irc.sonicbot.org"]
ports = [6667]
ssl = [False]
ipv6 = [False]
ident = ""
committracker = False
nick = ident
channels = {"irc.sonicbot.org":["#sonicbot"]}
autoreconnect = []
realname = nick
connectcommands = {}
bpass = ""
owner = ""
admin = {}
admin[owner] = [""]
prefix = ";"
ignorelist = []
debug = True
phpserv = False
staffchannel = {}
welcomechans = []
avchans = []
ai = False
bads = []
mail_url = ""
hostignores = []
twituser = ""
twitpass = ""
logdir = "logs"
modeonjoin = {"": [""]}
