hosts = [""]
ports = [6667]
ssl = [False]
ipv6 = [False]
ident = ""
nick = ident
channels = {"":["#sonicbot"]}
realname = nick
connectcommands = {}
bpass = ""
owner = ""
admin = {}
admin[owner] = [""]
prefix = ";"
ignorelist = []
debug = True
phpserv = False
staffchannel = ""
welcomechans = []
avchans = []
ai = False
bads = []
mail_url = ""
hostignores = []
twituser = ""
twitpass = ""
