connections = {}
hostcount = 0
feeds = {}
relay_channels = []
hostnicks = {"irc.sonicbot.org":"vbirc"}
try :
    import ssl
    pythonversion = "2.6"
except : pythonversion = "2.5"
instances = {}
rconnections = {}
waitfordatastarted = False
conlist = []
